@use 'abstracts' as *;

// hero image has horizontal scroll bar at desktop screens and up
.hero {
  height: rem(700);

  .d-grid {
    height: 100%;
  }

  &__text {
    padding: rem(120) rem(15.008) 0 rem(15.008);
    max-width: rem(500);
    margin-inline: auto;

    h1 {
      font-size: $fs-300;
      font-weight: 700;
      color: var(--white-clr);
      margin-bottom: rem(30);
      line-height: 1.5;

      @include extra-small {
        font-size: $fs-150;
      }

      @include large {
        font-size: $fs-500;
        line-height: 1.2;
      }
    }

    span {
      position: relative;
      z-index: -1;

      &::before {
        content: '';
        position: absolute;
        bottom: rem(-3);
        left: 0;
        width: 100%;
        height: rem(6);
        border-radius: rem(3);
        background-color: var(--accent-clr-400);
        transform: rotate(-3deg);
      }
    }

    p {
      margin-bottom: rem(20);
      line-height: 1.6;
    }
  }

  &__btn {
    margin-bottom: rem(50);
    font-weight: 500;
  }

  &__img {
    background-image: url(../../../img/hero-img.jpg);
    height: rem(350);
    width: 100%;
    @include image-property();
  }

  @include desktop {
    overflow-x: hidden;

    &__img {
      background-image: url(../../../img/hero-2.png);
      height: 100%;
      width: 100%;
      @include image-property();
      transform: translateX(rem(80));
      z-index: -1;
    }

    // might come back to it later
    // img {
    //   object-fit: cover;
    //   height: 100%;
    // }

    .d-grid {
      @include grid(repeat(2, 1fr), 0);
      place-items: center;
    }
  }

  @include extra-large {
    &__img {
      transform: translateX(0);
    }
  }
}
