@use 'abstracts' as *;

.service {
  padding-top: rem(100);

  &__img {
    display: none;

    @include large {
      display: block;
      width: 550px;
      transform: translateX(rem(-100));
      z-index: -1;
    }
  }

  &__content {
    .text {
      margin-bottom: rem(40);
      h2 {
        font-size: $fs-200;
        line-height: 1.3;
      }

      p {
        font-size: $fs-100;
        color: var(--light-clr);
      }
    }
  }

  //  cards
  .card {
    background-color: var(--accent-clr-250);
    padding: rem(20) rem(16);
    border-radius: rem(16);

    img {
      margin-bottom: rem(16);
      width: rem(50);
    }

    h4 {
      font-size: rem(20);
      margin-bottom: rem(5);
    }

    p {
      font-size: rem(15);
      line-height: 1.7;
      color: var(--accent-clr-300);
    }

    &:not(:last-child) {
      margin-bottom: rem(25);

      @include desktop {
        margin-bottom: rem(0);
      }
    }

    &--yellow {
      background-color: var(--accent-clr-400);
      color: var(--black-clr);

      p {
        color: var(--black-clr);
      }
    }
  }

  @include desktop {
    .service__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(20);
    }
  }

  @include large {
    .d-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .card:nth-child(3) {
      grid-column: 2/3;
    }

    .card:nth-child(4) {
      grid-row: 1/2;
    }
  }
}
