@use 'abstracts' as *;

.container {
  padding: 0 rem(15.008);

  @include landscape {
    width: rem(576);
    margin: 0 auto;
  }

  @include medium {
    width: rem(850);
    margin: 0 auto;
  }

  @include large {
    width: rem(900);
  }

  @include extra-large {
    width: rem(1200);
  }
}

.container--inverse {
  padding: 0 rem(15.008);

  @include landscape {
    width: rem(576);
    margin-right: auto;
  }
}
