@use 'abstracts' as *;

.container {
  padding: 0 rem(15.008);

  @include tablet {
    max-width: rem(576);
    margin-inline: auto;
  }

  @include desktop {
    width: rem(768);
    margin-inline: auto;
  }

  @include desktop-md {
    width: rem(1000);
  }

  @include large {
    width: rem(1200);
  }

  @include extra-large {
    width: rem(1440);
  }
}

// contianer for the hero section
.container--inverse {
  padding: 0;

  @include desktop {
    width: rem(768);
    margin-inline: auto;
  }

  @include desktop-md {
    width: rem(1000);
  }

  @include large {
    width: rem(1200);
  }

  @include extra-large {
    width: rem(1440);
  }
}

// contianer for the card section
.container--card {
  padding: 0 rem(15.008);

  @include desktop {
    width: rem(768);
    margin-inline: auto;
  }

  @include desktop-md {
    width: rem(1000);
  }

  @include large {
    width: rem(700);
    margin-right: auto;
  }

  @include extra-large {
    width: rem(800);
  }
}
