@use 'abstracts' as *;

// Styles for button
button {
  text-transform: capitalize;
  cursor: pointer;
  border-radius: rem(6);
  padding: rem(10) rem(20);
  border: none;
}

// nav button
@include desktop {
  .cta {
    display: block;
    text-transform: capitalize;
    background-color: var(--accent-clr-350);
    padding: rem(10) rem(12);
    font-size: rem(16);
    border-radius: rem(6);
    cursor: pointer;
    transition: transform 0.3s ease-out;

    &:focus {
      transform: scale(0.98);
    }
  }
}

@include desktop-md {
  .cta {
    padding-left: rem(20);
    padding-right: rem(20);
  }
}

// hero button
.btn-accent {
  background-color: var(--accent-clr-400);
  font-weight: 500;
}
