:root {
  --accent-clr-400: hsl(43, 100%, 50%);
  --accent-clr-350: hsl(0, 0%, 96%);
  --accent-clr-300: hsl(0, 0%, 85%);
  --accent-clr-250: hsl(235, 14%, 15%);
  --accent-clr-200: hsl(233, 14%, 11%);

  --bg-clr: hsl(233, 14%, 11%);

  --light-clr: hsl(0, 0%, 95%);
  --white-clr: hsl(0, 0%, 100%);
  --black-clr: hsl(0, 0%, 0%);
}
