@use './functions' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

// font family
$pry-font: 'Poppins', sans-serif;

// font size
$fs-50: rem(15);
$fs-100: rem(18);
$fs-150: rem(25);
$fs-200: rem(30);
$fs-300: rem(32);
$fs-350: rem(40);
$fs-500: rem(50);

// padding
$size-600: rem(100);
